.masthead .intro-body .brand-heading {
  font-size: 50px;
}

.card .card-img-top {
  height: 150px;
}

@media (min-width: 370px) {
  .homepage.description {
    padding: 10px;
    text-align: justify;
  }
}

.homepage.tabledescription {
  text-align: center;
}

.row.no-gutters.homepagetable {
  padding: 3%;
  padding-bottom: 0;
}

#initiative {
  padding-bottom: 5%;
  padding-top: 5%;
}

#apply {
  padding-top: 5%;
  padding-bottom: 5%;
}

#3columndescription {
  padding-top: 5%;
  padding-bottom: 5%;
}

@media (min-width:992px) {
  #mainNav .nav-link.active:hover {
    color: white;
  }
}

@media (min-width:992px) {
  #mainNav .nav-link.active {
    outline: none;
    background-color: rgb(52,58,64);
  }
}

#mainNav .nav-link.activestatus {
  background-color: rgb(165,165,166);
}

body {
  font-family: Lora,Helvetica Neue,Helvetica,Arial,sans-serif;
  position: relative;
  color: #000000;
  background-color: #ffffff;
  padding-top: 1%;
}

.headerfeed {
  padding-top: 2%;
}

.row.headerfeed {
  padding: 0px;
  margin: 0px;
}

.col-12.col-lg-6.col-xl-5.offset-xl-1.feedcol {
  padding: 0px;
  margin: 0px;
}

@media (min-width:992px) {
  #mainNav {
    padding-top: 10px;
    padding-bottom: 10px;
    transition: background .3s ease-in-out,padding-top .3s ease-in-out,padding-bottom .3s;
    letter-spacing: 1px;
    border-bottom: none;
  }
}

#initiative {
  background-color: rgb(194,195,209);
}

.features-boxed {
  color: #313437;
  background-color: #eef4f7;
}

.features-boxed p {
  color: #7d8285;
}

.features-boxed h2 {
  font-weight: bold;
  margin-bottom: 40px;
  padding-top: 40px;
  color: inherit;
}

@media (max-width:767px) {
  .features-boxed h2 {
    margin-bottom: 25px;
    padding-top: 25px;
    font-size: 24px;
  }
}

.features-boxed .intro {
  font-size: 16px;
  max-width: 500px;
  margin: 0 auto;
}

.features-boxed .intro p {
  margin-bottom: 0;
}

.features-boxed .features {
  padding: 50px 0;
}

.features-boxed .item {
  text-align: center;
}

.features-boxed .item .box {
  text-align: center;
  padding: 30px;
  background-color: #fff;
  margin-bottom: 30px;
}

.features-boxed .item .icon {
  font-size: 60px;
  color: #1485ee;
  margin-top: 20px;
  margin-bottom: 35px;
}

.features-boxed .item .name {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 8px;
  margin-top: 0;
  color: inherit;
}

.features-boxed .item .description {
  font-size: 15px;
  margin-top: 15px;
  margin-bottom: 20px;
}

#apply {
  background-color: rgb(196,245,242);
}

footer {
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
  margin-top: 80px;
  bottom: 0;
  color: #fff;
}

.footer-navigation h3 {
  margin: 0;
  font: normal 36px Cookie, cursive;
  margin-bottom: 20px;
  color: #fff;
}

.footer-navigation h3 a {
  text-decoration: none;
  color: #fff;
}

.footer-navigation h3 span {
  color: #5383d3;
}

.footer-navigation p.links a {
  color: #fff;
  text-decoration: none;
}

.footer-navigation p.company-name {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin-top: 20px;
}

@media (max-width:767px) {
  .footer-contacts {
    margin: 30px 0;
  }
}

.footer-contacts p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
}

.footer-contacts p a {
  color: #5383d3;
  text-decoration: none;
}

.fa.footer-contacts-icon {
  background-color: #33383b;
  color: #fff;
  font-size: 18px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 38px;
  margin: 10px 15px 10px 0;
}

span.new-line-span {
  display: block;
  font-weight: normal;
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-about h4 {
  display: block;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-about p {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

div.social-links {
  margin-top: 20px;
  color: #fff;
}

.social-links a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 5px;
  margin-bottom: 5px;
}

